/* Red = #FFB4B0  
Blue = #4DD7FA  
Light yellow = #FEFAC0  
Dark yellow = #785616
/************************************
STYLES MAIN
************************************/


.topbar,
.blueLeft,
#songDisplay {
	border: 2px solid black;
	margin: 8px;
	padding: 2em;
	font-family: Helvetica, Arial, sans-serif;
}

.flexcontainer {
	display: flex;
	flex-direction: row;
}

.pagecontainer {
	width: 80%;
	margin: auto;
}

.add-inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: auto;
	align-content: center;
}

.add-inputs button{
	width: 30%;
	margin: 5px auto;
	align-items: baseline;
}

.add {
	font-size: 1.5em;
	margin: 5px auto;
	padding: 1em;
	width: 45%;
	text-align: center;
	flex-grow: 1
}
/***********************************
TOP BAR STYLES
************************************/
.topbar {
	background-color: #FFB4B0;
	padding: 5px;
	padding-left: 22px;
}



/************************************
LEFT BAR STYLES
************************************/

.blueLeft {
	flex-grow: 1;
	background-color: #4DD7FA;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 30%;
	}

/*.genreselect {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
*/
.column{
	display: inline;
	
}

	.first{
		float: left;
		padding: 0 5px 0 0;
	}

.btn {
	width: 70%;
	margin: 0 13.5%;


}

/************************************
MAIN BOX (SONG DISPLAY) STYLES
************************************/

#songDisplay{
	flex-grow: 4;
  background-color: #FEFAC0;
  max-width: 60%;



}

.dispSong {
	margin: -10px 10px 10px 10px;
	padding: 5px;

}

.dispSong h2 {
	font-weight: lighter;
		color: #785616;
}

.fakelink {
	color: blue;
	text-decoration: underline
}

.fakelink:hover {
	cursor: pointer;
	
}

.ishidden {
	display: none;
}

@media (max-width: 985px) {
	.pagecontainer {
	width: 98%;
	margin: auto;
	}

	.blueLeft {
		max-width: 100%;
		}

	#songDisplay{
	  max-width: 100%;
	}
}